@font-face {
  font-family: "iconfont"; /* Project id 4016366 */
  src: url('iconfont.woff2?t=1682305101910') format('woff2'),
       url('iconfont.woff?t=1682305101910') format('woff'),
       url('iconfont.ttf?t=1682305101910') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-microphone:before {
  content: "\eb6b";
}

.icon-microphone1:before {
  content: "\e78b";
}

.icon-microphone-mute:before {
  content: "\e689";
}

.icon-duihua2:before {
  content: "\e630";
}

.icon-voice:before {
  content: "\e623";
}

.icon-yuyin:before {
  content: "\e6e0";
}

.icon-robot:before {
  content: "\e615";
}

